@charset "UTF-8";

#footer {
  width: 100%;
  height: auto;
  background: #252525;
  margin-top: 55px;
  padding-bottom: 20px;
  font-family: Arial,\5FAE\8F6F\96C5\9ED1; }

.footer-col {
  margin-top: 30px;
  margin-bottom: 30px; }

.footer-col .dry-title-redo span {
  color: #e9e9e9;
  font-family: \5FAE\8F6F\96C5\9ED1;
  font-size: 15px; }

.footer-col .dry-title {
  border-bottom: 1px solid #333333;
  margin-bottom: 15px; }

.footer-col .nulldt {
  margin-bottom: 15px;
  height: 30px; }

.footer-col dd a {
  color: #b9b9b9;
  line-height: 1.8;
  font-size: 13px;
  font-family: Arial,\5FAE\8F6F\96C5\9ED1; }

.footer-left {
  color: #d5d5d5;
  padding-bottom: 8px;
  font-size: 12px;
  text-align: center; }

.footer-left a {
  margin-right: 7px; }

.footer-left-top {
  padding-top: 10px; }

#footer a {
  color: #b9b9b9; }

.friendlink {
  margin-top: 15px;
  text-align: center; }

.license {
  padding-top: 5px; }